* {
  box-sizing: border-box !important;
  font-family: Roboto !important;
}

body,
p,
ul {
  margin: 0px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #394056;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid #F97648;
  outline-offset: -1px;
  box-shadow: 0px 0px 2px #F97648;
  border-radius: 4px;
}